[Desktop Entry]
Encoding=UTF-8
Name=ClusterSSH
GenericName=SSH/RSH Cluster Control Client
Comment=Control multiple ssh or rsh sessions from a single input window
Exec=cssh
Icon=clusterssh.png
Terminal=false
Type=Application
Categories=Application;RemoteAccess;Network;
Version=1.0
